$primary:#ebebeb;
$background: #f4f4f4;
$secondary: #00355c;
$text:#313131;
$shadow:rgba(59, 59, 59, 0.205);
$secundaryLight:#016cb9;
$danger:rgba(208, 16, 16, 0.741);
$dangerLight:rgba(233, 58, 58, 0.814);