@import "../../sass/color.scss";
.link {
  color: $primary;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding-top: 10px;
}
