@import "../../sass/color.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 100%;
}
.tabs {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-sizing: border-box;
  width: 100vw;
  overflow-y: scroll;
  margin-bottom: 20px;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    padding: 10px;
    font-weight: bold;
    height: 30px;

    &:hover {
      color: $primaryLight;
      cursor: pointer;
      border-bottom: 2px solid $primaryLight;
    }
  }
}
.title {
  font-weight: bold;
  font-size: 20px;
}
.subTitle {
  font-size: 15px;
  font-weight: bold;
}
.caption {
  color: rgb(84, 84, 84);
  font-size: 12px;
}
.img {
  height: 75px;
  width: 75px;
  border-radius: 150px;
}
.info {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 15px;
}
.col {
  display: flex;
  flex-direction: column;
}

.item_selected {
  color: $primaryLight;
  cursor: pointer;
  border-bottom: 2px solid $primaryLight;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  padding: 10px;
  font-weight: bold;
  height: 30px;
}

.left_header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.pet_selector {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-self: flex-end;
}

.add_pet {
  height: 55px;
  width: 55px;
  border-radius: 150px;
  border: 0px;
  font-size: 30px;
  background-color: $primaryHover;
  color: $textLight;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.pet {
  height: 55px;
  width: 55px;
  border-radius: 150px;
  border: 0px;
  color: $primaryHover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $primaryHover;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.pet_img {
  height: 55px;
  width: 55px;
  border-radius: 150px;
  border: 0px;
  color: $primaryHover;
  border: 2px solid $primaryHover;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  &:hover {
    opacity: 0.8;
  }
}

.pet_selected {
  height: 55px;
  width: 55px;
  border-radius: 150px;
  border: 0px;
  color: $primaryHover;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid $primaryHover;
  font-weight: bold;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(1, 108, 185, 1);
  -moz-box-shadow: 0px 0px 7px 2px rgba(1, 108, 185, 1);
  box-shadow: 0px 0px 7px 2px rgba(1, 108, 185, 1);
  &:hover {
    opacity: 0.8;
  }
}

.pet_img_selected {
  height: 55px;
  width: 55px;
  border-radius: 150px;
  border: 0px;
  color: $primaryHover;
  border: 2px solid $primaryHover;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  -webkit-box-shadow: 0px 0px 7px 2px rgba(1, 108, 185, 1);
  -moz-box-shadow: 0px 0px 7px 2px rgba(1, 108, 185, 1);
  box-shadow: 0px 0px 7px 2px rgba(1, 108, 185, 1);
  &:hover {
    opacity: 0.8;
  }
}
.weight {
}
.info_row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.titlePet {
  font-size: 20px;
  color: $primaryLight;
  font-weight: bold;
}
.titleContainer {
  gap: 20px;
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary;
  font-size: 30px;
  font-weight: bolder;
  background-color: $background;
}
