@import "../../sass/color.scss";
@import "../../sass/breakpoints.scss";

.decorative {
  display: none;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    180deg,
    #5769acdb 0%,
    #4c8dfca1 50%,
    #3e86b08a 100%
  );
  overflow: hidden;
  position: relative;
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 80%;
  gap: 35px;
}

.link {
  color: $primary;
  font-weight: bold;
  text-align: end;
  cursor: pointer;
  width: fit-content;
  &:hover {
    opacity: 0.8;
  }
}

.huellita {
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 200px;
  z-index: 90;
  filter: brightness(0.8);
}

.shiba {
  @extend .decorative;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.forma {
  @extend .decorative;
  position: absolute;
  top: -100px;
  right: -400px;
  transform: rotate(20deg);
}

.lines {
  @extend .decorative;
  position: absolute;
  top: 0px;
  right: -300px;
  transform: rotate(90deg);
}
.lines2 {
  @extend .decorative;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotate(180deg);
}

@media only screen and (min-width: $desktop) {
  /* Agrega tus estilos CSS aquí */
  .decorative {
    display: block;
  }
}
